@import url('https://fonts.googleapis.com/css?family=Titan+One');

.style {
    color: black;
}

body {
    font-family: Arial;
    overflow: hidden;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.item {
    padding: 10px;
}

.popupoverlay {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100%;
    z-index: 10;
}

.popupcontainer {
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    box-shadow: black;
    z-index: 8;
}

.popupbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    z-index: 9;
}


.skipbutton {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    z-index: 10;
}

.skipbutton:hover {
    border: 2px solid black;
    background-color: rgb(221, 221, 221);
    color: black;
    z-index: 9;
}

.popupcontainer .right {
    width: 540px;
    padding-left: 250 px;
    z-index: 9;
}

.rock {
    position: absolute;
    z-index: 1;
    filter: hue-rotate(0deg);
}

.eye {
    position: absolute;
    z-index: 2;
}

.hat {
    position: absolute;
    z-index: 3;
}

.butt1 {
    z-index: 10;
    padding: 5px;
    margin: 10px 5px;

}

.startbutt {
    z-index: 10;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.Lbutton {
    position: static;
    padding: 5px;
}

.Rbutton {
    position: static;
    padding: 5px;
}

.button-image{
    width: 100px;
    height:auto;
}

.dnone {
    display: none;
}

.rock-div {
    width: 75vw;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.options {
    padding: 5px;
    padding-bottom: 5px;
}

.titlecontainer{
    position: absolute;
	width:1200px;
	height:320px;
	top:25%;
	left:50%;
	transform:translate(-50%,-50%);
	}

h1{
	background:#fff;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
	font-family:'Titan One',cursive;
	font-size:90px;
	font-weight:700;
	flex-flow:row wrap;
	align-content:center;
	justify-content:center
	}

h1 span{width:100%;position:relative}

h1 span:before{
	background:linear-gradient(90deg,#EF4765,#FF9A5A,#EF4765, #FF9A5A);
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	content:"";
	mix-blend-mode:screen
	}


.rainbowbutton {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.rainbowbutton:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.rainbowbutton:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}